@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellowish: #FDDA48;
  --primary-color: #2A3855;
    --secondary-color: #a9b4cc;
    --paragraph-color: #636363;
}

.welcome-section{
  background-color: #364463;
  background-image: url('../../public/optimized-car2.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  color:white;
  padding:10px;
  padding-top:100px;
  padding-bottom: 100px;
  padding-left: 30px;
}

.welcome-section h1{
  font-size: 24px;
  font-weight: bolder;
}

.welcome-section p{
  font-size:16px;
  color: rgb(231, 231, 231);
}

.welcome-section button{
  background-color: var(--yellowish);
  padding: 7px;
  color: var(--primary-color);
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}
.welcome-right-angle{
  margin-top: 3px;
}

/* Services Section */
.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  font-size:26px;
  font-weight: bolder ;
  color: var(--primary-color)
}

.heading span{
  width: 70px;
  height: 2px;
  background-color: var(--primary-color);
  margin-top: 10px;
}
.service-card{
  padding: 5px;
  margin-top: 20px;
}
.info-container{
  display: flex;
  flex-direction: column;

}
.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.description{
  padding: 20px;
  text-align: center;
  color: #636363
}

.icon{
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
}


.learn-more-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  font-size: 14px;
}

.learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.learn-more:hover{
  cursor: pointer;
  text-decoration: underline;
  color: var(--secondary-color);
  transition: .1s ease-in-out;
}

/* Why Choose Us section */
.why-choose-us-section{
  margin-top: 20px;
}

.rim-image{
  border-radius: 5px;
}

.map{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Services Page */
.services-container{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.what-we-do-heading{
  font-size: 28px;
  margin-bottom: 30px;
}
.marketing-statement{
  padding: 5px;
  color: var(--paragraph-color);
}

/* Contact Page */
.working-hours{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
}
.working-hours h1{
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-weight: bold;
}
.time-container{
  display: flex;
  flex-direction: column;
}
.time-container div{
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.time-item h2{
  font-size: 20px;
  font-weight: 300px;
  color: var(--primary-color);
}
.time-item{
  color: var(--paragraph-color);
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
form h2{
  font-size: 30px;
  color: var(--primary-color);
  margin-bottom: 30px;
  font-weight: bold;
}

textarea,
input{
  /* border: 1px solid var(--paragraph-color); */
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  color: var(--primary-color);
  background-color: #f3f3f3;
}

.submit-btn{
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* flex box showing image and numbered points */
.benefit-parent h1{
  font-size: 20px;
  font-weight: bold;
}
.benefit-parent p{
  color: var(--paragraph-color);
}

/* On the about us page */
.mission-parent h1{
  font-size: 20px;
  font-weight: bold;
}
.mission-parent p{
  color: var(--paragraph-color);
}

.mission-parent{
  padding: 10px
}



@media (min-width: 841px){
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .service-card{
    width: 400px;
    margin: 10px;
  }
  .learn-more-container{
    font-size: 20px;
  }
}

.outer-div{
  padding: 10px;
}

/* Media Query for laptop screens and above */
@media (min-width: 962px) {
  .welcome-section{
    padding-top: 145px;
    padding-bottom: 145px;
  }
  .welcome-section h1{
    font-size: 34px;
    font-weight: bolder;
  }
  .welcome-section p{
    max-width: 75vw;
    font-size: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .service-card{
    width: 400px;
    margin: 10px;
  }
  .why-choose-us-section{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
  }
  .time-container{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .input, textarea{
    width: 60vw;
  }
  .input-container{
    display: flex;
    gap: 20px;
  }
  .submit-btn{
    width: 200px;
  }
  .btn-container{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  .benefit-parent{
    padding: 10px
  }
  .benefit-parent h1{
    font-size: 22px
  }

  .benefit-parent p{
    font-size: 16px;
  }

  /* for the about page */
  .mission-parent{
    padding: 10px
  }
  .mission-parent h1{
    font-size: 22px
  }

  .mission-parent p{
    font-size: 16px;
  }
  /* .second-flex{
    display: flex;
  } */
  .mission-wrapper{
    width: 100%;
  }
  
}

@media (min-width: 1130px) {
  .flex-wrapper{
    display: flex;
  }
}

@media (min-width: 1200px) {
  .second-flex{
    display: flex;
  }
}

@media (min-width: 1260px) {
  .service-card{
    width: 500px;
    margin: 10px;
  }
}

