@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --yellowish: #FDDA48;
  --primary-color: #2A3855;
    --secondary-color: #a9b4cc;
    --paragraph-color: #636363;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */


.welcome-section{
  background-color: #364463;
  background-image: url('../../public/optimized-car2.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  color:white;
  padding:10px;
  padding-top:100px;
  padding-bottom: 100px;
  padding-left: 30px;
}

.welcome-section h1{
  font-size: 24px;
  font-weight: bolder;
}

.welcome-section p{
  font-size:16px;
  color: rgb(231, 231, 231);
}

.welcome-section button{
  background-color: var(--yellowish);
  padding: 7px;
  color: var(--primary-color);
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  gap: 3px;
  justify-content: center;
  align-items: center;
}
.welcome-right-angle{
  margin-top: 3px;
}

/* Services Section */
.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
  font-size:26px;
  font-weight: bolder ;
  color: var(--primary-color)
}

.heading span{
  width: 70px;
  height: 2px;
  background-color: var(--primary-color);
  margin-top: 10px;
}
.service-card{
  padding: 5px;
  margin-top: 20px;
}
.info-container{
  display: flex;
  flex-direction: column;

}
.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.description{
  padding: 20px;
  text-align: center;
  color: #636363
}

.icon{
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
}


.learn-more-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  font-size: 14px;
}

.learn-more{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.learn-more:hover{
  cursor: pointer;
  text-decoration: underline;
  color: var(--secondary-color);
  transition: .1s ease-in-out;
}

/* Why Choose Us section */
.why-choose-us-section{
  margin-top: 20px;
}

.image-container{
  padding: 7px;
}

.rim-image{
  border-radius: 5px;
}

.benefit-container{
  padding: 7px;
}
.benefit{
  margin-bottom: 20px;
}
.benefit div{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bolder;
  gap: 10px;
}
.benefit p{
  color: var(--paragraph-color);
}


@media (min-width: 841px){
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .service-card{
    width: 400px;
    margin: 10px;
  }
  .learn-more-container{
    font-size: 20px;
  }
}

/* Media Query for laptop screens and above */
@media (min-width: 962px) {
  .welcome-section{
    padding-top: 145px;
    padding-bottom: 145px;
  }
  .welcome-section h1{
    font-size: 34px;
    font-weight: bolder;
  }
  .welcome-section p{
    max-width: 75vw;
    font-size: 20px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  .service-card{
    width: 400px;
    margin: 10px;
  }
  .benefits-image-container{
    display: flex;
    margin-top: 30px;
  }
  .benefit-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .benefit div{
    font-size: 22px;
  }
  .why-choose-us-section{
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 40px;
  }

}

@media (min-width: 1260px) {
  .service-card{
    width: 500px;
    margin: 10px;
  }
}