.parent{
    position: relative;
}
.sticky-nav{
    position: absolute;
    width: 100%;

}


.sticky-nav {
    opacity: 0;
    max-height: 200px;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
  }
  
  .sticky-nav.show {
    opacity: 1;
    max-height: 1000px; /* Adjust the value based on your content */
  }